<a href="https://colab.research.google.com/github/nikhilveldanda/INFO-5731/blob/main/In-Class-exercises/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/01/2021, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [1]:
# write your answer here
st = "restart"
len(st)

7

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [2]:
# write your answer here
from collections import Counter
dict(Counter('google.com'))

{'.': 1, 'c': 1, 'e': 1, 'g': 2, 'l': 1, 'm': 1, 'o': 3}

(3) Write a Python program to sum all the items in a list. (4 points)

In [3]:
# write your answer here
l1 = [1,2,3,4,5]
sum(l1)

15

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [4]:
# write your answer here
st = "restart"
st[::-1].replace('r','$',1)[::-1]

'resta$t'

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [5]:
# write your answer here
def testfunction(a,b):
  return 3.14 * (1+(a/b))**3

testfunction(3,4)

16.8284375

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [6]:
# write your answer here
dic1={1:10, 2:20} 
dic2={3:30, 4:40}
dic3={5:50,6:60}
{**dic1,**dic2,**dic3}

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [7]:
# write your answer here
tup = (1,2,3,4,5,"hello","world","nikhil")
"nikhil" in tup

True

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [8]:
# write your answer here
s1 = {1,2,3,4,5,-1,-2,-3,-4,0}
print("minimum",min(s1))
print("maximum",max(s1))

minimum -4
maximum 5

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
           'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']

In [9]:
# write your answer here
studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']
len(studnet_list)

29

In [10]:
import random
# random.shuffle(studnet_list)
# studnet_list
cnt = 0
for i in range(1,7):
  print(f"Group{i}",studnet_list[cnt:cnt+5])
  cnt+=5

Group1 ['vmb0067', 'pc0353', 'snd0097', 'yye0005', 'sg0940']
Group2 ['bk0301', 'rak0120', 'rrk0058', 'spk0057', 'vl0135']
Group3 ['nm0547', 'pn0159', 'msp0174', 'dd0420', 'ds0761']
Group4 ['rs0850', 'ss1995', 'at0739', 'at0768', 'mv0299']
Group5 ['tv0119', 'dy0091', 'py0080', 'ttp0037', 'hc0439']
Group6 ['ri0094', 'pk0339', 'hn0145', 'mn0426']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [11]:
# write your answer here
def testfunc2(l1):
  if len(l1) == len(set(l1)):
    return -1
  else:
    return [item for item,count in Counter(l1).items() if count>1]

In [12]:
testfunc2([1,2,3,4,5,6])

-1

In [13]:
testfunc2([1,2,3,4,1,2,3,4,5,6])

[1, 2, 3, 4]

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [14]:
# write your answer here
from datetime import date, timedelta

def sundays(year):
   d = date(year, 1, 1)
   d += timedelta(days = 6 - d.weekday())
   while d.year == year:
      yield d
      d += timedelta(days = 7)

for d in sundays(2021):
   print(d)

2021-01-03
2021-01-10
2021-01-17
2021-01-24
2021-01-31
2021-02-07
2021-02-14
2021-02-21
2021-02-28
2021-03-07
2021-03-14
2021-03-21
2021-03-28
2021-04-04
2021-04-11
2021-04-18
2021-04-25
2021-05-02
2021-05-09
2021-05-16
2021-05-23
2021-05-30
2021-06-06
2021-06-13
2021-06-20
2021-06-27
2021-07-04
2021-07-11
2021-07-18
2021-07-25
2021-08-01
2021-08-08
2021-08-15
2021-08-22
2021-08-29
2021-09-05
2021-09-12
2021-09-19
2021-09-26
2021-10-03
2021-10-10
2021-10-17
2021-10-24
2021-10-31
2021-11-07
2021-11-14
2021-11-21
2021-11-28
2021-12-05
2021-12-12
2021-12-19
2021-12-26